Source: python-crypto
Section: python
Priority: optional
Maintainer: Sebastian Ramacher <sramacher@debian.org>
Build-Depends:
 dh-python,
 libgmp-dev,
 python-all-dbg,
 python-all-dev,
Standards-Version: 4.4.1
Vcs-Git: https://salsa.debian.org/sramacher/python-crypto.git
Vcs-Browser: https://salsa.debian.org/sramacher/python-crypto
Homepage: http://www.pycrypto.org/
Rules-Requires-Root: no

Package: python-crypto
Architecture: any
Depends:
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Provides:
 ${python:Provides}
Description: cryptographic algorithms and protocols for Python
 A collection of cryptographic algorithms and protocols, implemented
 for use from Python. Among the contents of the package:
 .
  * Hash functions: HMAC, MD2, MD4, MD5, RIPEMD160, SHA, SHA256.
  * Block encryption algorithms: AES, ARC2, Blowfish, CAST, DES, Triple-DES.
  * Stream encryption algorithms: ARC4, simple XOR.
  * Public-key algorithms: RSA, DSA, ElGamal.
  * Protocols: All-or-nothing transforms, chaffing/winnowing.
  * Miscellaneous: RFC1751 module for converting 128-bit keys
    into a set of English words, primality testing, random number generation.
